/* elemente generale */

:root {
  --link-color: #2196f3;
  --heading-color: #212121;
  --text-color: #757575;
  --color-background: #2f303a;
  --color-backgroung-buttons: #f5f4fa;
  --contrast-color: #ffffff;
  --social-icons-color: #afb1b8;
  --text-font-family: "Roboto", arial, sans-serif;
  --logo-font-family: "Raleway", arial, sans-serif;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--heading-color);
}

a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: var(--heading-color);
}

.container {
  display: flex;
  flex-direction: column;
  width: 1600px;
}

.global-header p {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* meniul din bara */

.header-content {
  display: flex;
  justify-content: space-between;

  width: 1600px;
  height: 80px;

  margin-left: 215px;
  max-width: 1150px;
}

/* sub-meniu: logo, studio, portofolio, contacts */
.container-1 {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.9375em;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo span:first-child {
  color: #2196f3;
}

.container-1 > .logo:hover,
.container-1 > .logo:focus {
  color: var(--link-color);
}

.main-navigation {
  display: flex;

  margin-top: 32px;
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-navigation li {
  list-style: none;
  display: flex;
  margin-left: 32px;
}
.main-navigation .menu:hover,
.main-navigation .menu:focus {
  color: var(--link-color);
}

/* stilizarea cu sublinierea paginii curente (unde se află utilizatorul acum)*/

.menu, .active-link {
  position: relative;
  transition: ;
  height: 100%;
}

.menu:active::after,
.menu:focus::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-color);
  border-radius: 2px;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-color);
  border-radius: 2px;
}

/* FINAL - stilizare cu sublinierea paginii curente */

/* sub-meniu - adresa de email si nr telefon */
.container-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  gap: 40px;
  height: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.container-2a {
  display: flex;
  justify-content: space-between;
  width: 161px;
  height: 16px;
  margin: 0px;
}
.container-2b {
  display: flex;
  justify-content: space-between;
  width: 135px;
  height: 16px;
  margin: 0px;
}
.email-address svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.phone-number svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.contact {
  margin: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-address,
.phone-number {
  margin: 0;
  color: var(--text-color);
}

.contact span:first-child {
  color: var(--text-color);
}

.contact a:hover,
.contact a:focus {
  color: var(--link-color);
}
/* FINAL - meniul din bara */

/* EFFECTIVE SOLUTIONS FOR YOUR BUSINESS section */

.first-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 600px;
  background: var(--color-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./images/first-page-background.jpg");
}

.hero-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 696px;
  height: 120px;
}

.hero-heading h1 {
  color: #ffffff;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-heading span {
  display: block;
  pointer-events: none;
}

/* butonul "Request our service" */
.services {
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  background-color: var(--link-color);
}

/* modalul din butonul "Request our service" */

.modal {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  max-width: 1600px; /* pt ca proiectul are o latime de 1600px, deci mai mica decat fereastra web, am limitat latimea ferestrei modale la 1600px */
  width: 100%; /* acum pot da ferestrei modale intreaga latime a ferestrei browserului */
  z-index: 2; /* am setat z-index mai mare pentru a afișa conținutul modal peste fundal */
   transition: 300ms ease , opacity 300ms ease; /*efect la inchiderea si deschiderea ferestrei */

}

.modal-backdrop {
  position: fixed; /* in felul asta fundalul (.modal-backdrop) este atasat de fereastra de vizualizare si nu va defila odata cu continutul paginii. */
  top: 0;
  left: 0;
  width: 100%; /*umple 100% din latimea ferestrei browserului si va fi fixat în ea*/
  height: 100%; /*umple 100% din inaltimea ferestrei browserului si va fi fixat în ea*/
  background: #00000033;
  z-index: 3; /* am setat z-index mai mare decât cel al conținutului pentru a acoperi toata fereastra */
}
.modal-content {
  background-color: #ffffff;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%; /* Am setat top-ul la 50% pt centrare pe verticala */
  left: 50%; /* Am setat left-ul la 50% pentru centrare pe orizontala */
  transform: translate(-50%, -50%);
  z-index: 4;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.is-hidden {
  visibility: hidden;
  transform: scale(1.1);
  opacity: 0;
}

.close-btn {
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: flex; /*am pus flex cu centrarile aferente, ca sa centrez svg-ul din close-btn */
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
  transform: scale(1.2);
}

/* final modal */

/* FINAL - EFFECTIVE SOLUTIONS FOR YOUR BUSINESS section */

/* pictogramele cu attention to details etc. */

.second-container-2 {
  display: flex;
  width: 1170px;
  height: 251px;
  align-items: center;
  justify-content: space-between;
  top: 774px;
  margin-bottom: 94px;
  margin-top: 94px;
  margin-left: 215px;
  margin-right: 215px;
}

.advantage-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
}
.second-section {
  margin-top: 30px;
}

.second-section > .menu-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--heading-color);
}

.second-section > .sub-menu {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}

.menu-item {
  margin-bottom: 10px;
  height: 16px;
  margin-top: 30px;
}

.sub-menu {
  width: 270px;
  height: 75px;
  margin: 0px;
}
/* FINAL - pictogramele cu attention to details etc. */

/* WHAT WE DO section */

.second-container-3 {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 386px;
  margin-left: 215px;
}

.second-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--heading-color);
}

.second-title-1 {
  text-align: center;
  margin-bottom: 32px;
  width: 1170px;
}

.pictures-1 {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  height: 294px;
}

/* banners from WHAT WE DO */

.moto-cards {
  display: flex;
  gap: 30px;
  padding: 0px;
}

.motto-cards-elements {
  position: relative;
  list-style: none;
  width: 370px;
  height: 294px;
}

.overlay-text {
  background-color: grey;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: #2f303acc;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.overlay-text-1 {
  height: 16px;
  margin: 0px;
}
/* FINAL - banners from WHAT WE DO */
/* FINAL - WHAT WE DO section */

/* OUR TEAM section */

.third-container {
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: 648px;
  margin-top: 150px;
  background: #f5f4fa;
}

.second-title-2 {
  text-align: center;
  margin-bottom: 32px;
}

.section-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170;
  height: 428;
  margin-bottom: 32px;
  margin-left: 215px;
  width: 1170px;
  height: 368px;
}

.all-our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 270px;
  height: 428px;
  border-radius: 0px, 0px, 4px, 4px;
}

.our-team {
  height: 48px;
  margin-top: 30px;
  margin-bottom: 16px;
}
.our-team img {
  margin-right: 24px;
}
.our-team-1,
.our-team-2 {
  height: 19px;
}
.our-team-1 {
  margin-bottom: 10px;
}

.our-team > .our-team-1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--heading-color);
}

.our-team > .our-team-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  font-style: normal;
}

.icons-team {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 206px;
  height: 44px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.icons-team li {
  list-style: none;
  display: flex;
}

.socials-icons {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons:hover,
.socials-icons:focus {
  background: var(--link-color);
}
.socials-icons:hover svg,
.socials-icons:focus svg {
  color: var(--contrast-color);
}

.socials-icons svg {
  width: 20px;
  height: 20px;
  color: var(--social-icons-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FINAL - OUR TEAM section */

/* REGULAR CUSTOMERS section */
.fourth-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 184px;
  margin-left: 215px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.regular-customers {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625em;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--heading-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.icons-fourth-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 1170px;
  height: 92px;
  padding: 0px;
  margin: 0px;
}

.icons-fourth-container li {
  list-style: none;
  display: flex;
  border: 0px;
}

.company-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--social-icons-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icons:hover,
.company-icons:focus {
  color: var(--link-color);
  border-color: var(--link-color);
}

/* fiecare svg avea dimensiuni diferite */
.icon-1c svg {
  width: 41px;
  height: 46.7px;
}

.icon-2c svg {
  width: 40px;
  height: 52px;
}
.icon-3c svg {
  width: 43.46px;
  height: 41.18px;
}
.icon-4c svg {
  width: 84.44px;
  height: 440.62px;
}
.icon-5c svg {
  width: 62.54px;
  height: 45.43px;
}
.icon-6c svg {
  width: 93.79px;
  height: 43.93px;
}
/* FINAL - REGULAR CUSTOMERS section */

/* FOOTER */

footer {
  background-color: var(--color-background);
  color: #ffffff;
}

.end-page {
  display: flex;
  padding-top: 64px;
  width: 1600px;
  height: 251px;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 70px;
}

.end-section {
  width: 422px;
  height: 187px;
}
.end-section > .logo {
  color: #ffffff;
}

.end-section a.logo {
  padding-left: 215px;
  width: 360px;
  height: 31px;
}

.end-section > .end-section-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1emx;
  letter-spacing: 0.03em;
  text-align: left;
  width: 422px;
  height: 16px;
  margin-bottom: 0px;
}

.end-section > .end-section-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  opacity: 60%;
  height: 16px;
}

.end-section-1,
.end-section-2 {
  text-align: center;
  padding-left: 215px;
}

.end-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

/* "Find us on" sub-section */
.social-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 206px;
  height: 80px;
}
.social-contacts-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--contrast-color);
  width: 100px;
  height: 16px;
}
.social-contacts-icons {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  margin-top: 36px;
}
.social-contacts-icons .social-contacts-icons1 {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background: #ffffff1a;
  color: var(--contrast-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contacts-icons .social-contacts-icons1:hover,
.social-contacts-icons .social-contacts-icons1:focus {
  background-color: var(--link-color);
}
.social-contacts-icons .social-contacts-icons1 svg {
  width: 20px;
  height: 20px;
}

.address1 {
  width: 207px;
  height: 16px;
}
.address2 {
  width: 231px;
  height: 16px;
}
.address3 {
  width: 231px;
  height: 16px;
}
/* FINAL - "Find us on" sub-section */
/* FINAL FOOTER */

/* PORTOFOLIO section */

.portofolio-content {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 1360px;
  border-radius: 1px;
  margin-top: 94px;
  margin-left: 215px;
  margin-bottom: 94px;
}

/* Butoanele All, Web-sites etc. */
.portofolio-1 {
  display: flex;
  justify-content: center;
  height: 88px;
}

.portofolio-sections li {
  list-style: none;
}

.portofolio-sections button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  border: none;
  border-radius: 4px;
  background-color: var(--color-backgroung-buttons);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-sections button:hover,
.portofolio-sections button:focus,
.portofolio-sections button:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.portofolio-sections {
  display: flex;
  width: 516px;
  height: 38px;
  border-radius: 4px;
  justify-content: space-between;

  margin-bottom: 50px;
  font-family: var(--heading-color);
}
/* FINAL - butoanele All, Web-sites etc. */

/* Posterele cu portofoliile */

.portofolio-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1170px;
  height: 1272px;
}

.project {
  width: 370px;
  height: 404px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

img.portofolio-images {
  width: 370px;
  hyphens: 294px;
}

.domains {
  width: 322px;
  height: 70px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.domains > .domain-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--heading-color);
}

.domains > .domain-zone {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  text-align: left;
  font-style: normal;
  color: var(--text-color);
}

/* overlay-ul din portofolio */

.container-overlay-portofolio {
  position: relative;
  width: 100%;
}

.portofolio-images-1 {
  display: block;
}

.overlay-portofolio {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2196f3e5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.project:hover .overlay-portofolio,
.project:focus .overlay-portofolio {
  height: 100%;
}

.text {
  position: absolute;
  width: 322px;
  height: 140px;
  margin-top: 63px;
  margin-left: 24px;
  bottom: 91px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}
/* FINAL - overlay-ul din portofolio */

/* FINAL - posterele cu portofoliile */

/* FINAL PORTOFOLIO */
